
.game-board-container {
  display: flex;
  flex-wrap: wrap;
  width: 624px;
  height: 624px;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  background-color: rgb(66, 232, 238);
  width: 150px;
  height: 150px;
  margin: 3px;
}

.active {
  background-image: url('../img/goblin.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.header, .result {
  margin: auto;
  font-size: 18px;
  text-align: center;
}

.game-board-container:hover {
  cursor: url('../img/hammer.png'), auto;
}
